<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

	<header>
		<div class="container">
			<div id="brandname">
				Machine Learning App with Flask
			</div>
			<h2>Endpoints:</h2>

		</div>
	</header>

	<div class="ml-container">
		<ol>
        <li><a href="{{ url_for('predict_salary')}}">Salary Predicion</a></li>
        <li><a href="{{ url_for('predict_email')}}">Email Spam Classifier</a></li>
        <li><a href="{{ url_for('predict_sentiment')}}">Movie Review Sentiment Prediction</a></li>
        <li><a href="{{ url_for('upload_file')}}">Dog/Cat Classification</a></li>
		</ol>
	</div>

</body>

</html>